        .landingPage {
            background-image: url('/Assets/Backgrounds/LandingPage.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position-y: center;
            width: 100vw;
            height: calc(100vh - 4.75rem);
        }
        
        .steelDesktopGradient {
            background-image: url('/Assets/Backgrounds/SteelDesktopGradient.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position-y: center;
            width: 100vw;
            height: calc(100vh - 4.75rem);
        }
        
        .redDesktopGradient {
            display: flex;
            flex-direction: column;
            background-image: url('/Assets/Backgrounds/RedDesktopGradient.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: center;
            width: 100vw;
            height: calc(100vh - 4.75rem);
        }
        
        @media only screen and (max-width: 1345px) {
            .landingPage {
                min-height: 100vh;
                height: auto;
                background-position-x: center;
            }
        }
        
        @media only screen and (max-width: 1345px) {
            .steelDesktopGradient {
                min-height: 100vh;
                height: auto;
                background-position-x: center;
            }
        }
        
        @media only screen and (max-width: 1345px) {
            .redDesktopGradient {
                min-height: 100vh;
                height: auto;
                background-position-x: center;
            }
        }