.landingPage {
    background-image: url('/Assets/Backgrounds/LandingPage.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.steelDesktopGradient {
    background-image: url('/Assets/Backgrounds/SteelDesktopGradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.redDesktopGradient {
    display: flex;
    flex-direction: column;
    background-image: url('/Assets/Backgrounds/RedDesktopGradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}