@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
.navList {
    display: flex;
    list-style-type: none;
    gap: 3rem;
    font-size: 2rem;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 800;
    padding-right: 3rem;
}

.navList a {
    color: black;
}

.navBar1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.45) 59.37%, rgba(255, 255, 255, 0) 100%);
    padding-top: 1rem;
}

.navBar2 {
    display: flex;
    align-items: center;
    justify-content: right;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.45) 59.37%, rgba(255, 255, 255, 0) 100%);
    padding-top: 1rem;
    width: 100vw;
}

.navLogo {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-left: 1rem;
    border-width: 0px;
}

.scLogo {
    border-width: 0px;
    width: 100%;
}