    #map {
        display: flex;
        position: relative;
        z-index: 9000;
        /* flex-direction: column; */
        width: 50%;
        height: 55vh;
        border: 0px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-style: solid;
        border-color: black;
        margin-left: 2rem;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.45);
        -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.45);
    }
    
    .btnMapView,
    .btnZoom {
        display: flex;
        position: relative;
        z-index: 9999;
        margin: 0.5rem 3.5rem;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        font-family: 'Gothic-A1', sans-serif;
        background-color: white;
        color: #cf000e;
        border-color: white;
        border-radius: 25px;
        padding: 0.5rem 0.5rem;
        box-shadow: 8px 5px 5px 0px rgba(0, 0, 0, 0.75);
        cursor: pointer;
    }
    
    .btnZoom {
        margin-left: -2.4rem;
    }
    
    .leaflet-popup-content {
        text-align: center;
    }
    
    .markerIcon {
        background-image: url('/Assets/Logos/SuperCardFavicon.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .leaflet-marker-icon {
        margin: 0;
        width: 20px;
        height: 20px;
    }
    
    @media only screen and (min-width: 1920px) {
        .btnMapView,
        .btnZoom {
            font-size: 1.3rem;
        }
    }
    
    @media only screen and (max-width: 1335px) {
        .btnMapView {
            margin: 0.3rem 3rem;
            font-size: 1.3rem;
        }
    }
    
    @media only screen and (max-width: 880px) {
        #map {
            width: 90%;
            height: 50vh;
            margin: 2rem;
            padding: 2rem;
            align-self: center;
        }
    }
    
    @media only screen and (max-width: 735px) {}
    
    @media only screen and (max-width: 600px) {}
    
    @media only screen and (max-width: 450px) {}
    
    @media only screen and (max-width: 376px) {}