.videoContainer {
    display: flex;
    width: 50%;
    padding: 0rem 0rem 0rem 3rem;
    align-items: center;
}

.scVideo {
    width: 100%;
    border-radius: 15px;
}

.servicesContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 2.1rem;
    /* margin-right: 5%; */
    padding: 0rem 5% 1rem 1rem;
    align-content: center;
    text-align: justify;
}

.servicesParagraph {
    display: flex;
    width: 100%;
    padding: 1rem;
}

.servicesListContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.servicesList {
    padding: 1.5rem;
}

.servicesList li {
    padding-left: 10%;
    list-style-type: none;
    background-image: url('/Assets/Logos/SuperCardFavicon.png');
    background-position: 0 0;
    background-size: 2rem;
    background-repeat: no-repeat;
}

.footer {
    min-height: calc(100vh - 7.07% - 59.63%);
    /* padding: 2rem; */
    text-align: -webkit-center;
    /* padding: 5rem; */
}

.poweredBy {
    display: flex;
    width: 50%;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
    background-color: aliceblue;
    padding: 1% 0.5% 0% 1%;
    border-radius: 55px;
    opacity: 80%;
    justify-content: center;
}

.poweredBy p {
    padding: 0 1rem;
}

.scLogoServices {
    display: flex;
    width: 35%;
}

.sabissLogo {
    display: flex;
    width: 25%;
}

.scLogoServicesImg {
    display: flex;
    width: 100%;
}

.sabissLogoImg {
    display: flex;
    width: 100%;
}

@media only screen and (min-width: 1920px) {
    .servicesContainer {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        font-family: 'Gothic A1', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.5rem;
        /* margin-right: 5%; */
        padding: 0rem 5% 1rem 1rem;
        align-content: center;
        text-align: justify;
    }
}

@media only screen and (max-width: 1700px) {}

@media only screen and (max-width: 1335px) {
    .videoContainer {
        width: 80%;
        padding-left: 2rem;
        align-items: baseline;
        margin-top: 5rem;
    }
    .servicesContainer {
        font-size: 1rem;
        width: 70%;
        padding-right: 4rem;
        margin: 0rem;
        line-height: 1.8rem;
    }
    .servicesList li {
        background-size: 1.5rem;
    }
    .poweredBy {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1000px) {
    .videoContainer {
        padding: 0rem 0rem 0rem 1rem;
    }
    .servicesContainer {
        font-size: 1rem;
        line-height: 2rem;
    }
    .footer {
        padding: 2rem;
    }
}

@media only screen and (max-width: 880px) {
    .services.mainContainer {
        flex-direction: column-reverse;
    }
    .videoContainer {
        margin-top: 0rem;
        width: 90%;
        padding: 0rem 1rem 0rem 1rem;
        align-self: center;
    }
    .servicesContainer {
        width: 100%;
        font-size: 1.5rem;
        padding: 2rem;
        margin: 0rem;
        align-items: center;
        line-height: 2.2rem;
    }
    .poweredBy {
        width: 80%;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 735px) {
    .servicesContainer {
        padding: 3rem;
    }
    .poweredBy {
        font-size: 1.5rem;
    }
    .poweredBy {
        width: 80%;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 620px) {
    .poweredBy {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 550px) {
    .servicesContainer {
        font-size: 1.2rem;
    }
    .poweredBy {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 450px) {
    .servicesContainer {
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .servicesList {
        padding: 1rem;
    }
    .servicesList li {
        background-size: 1rem;
    }
    .poweredBy {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 380px) {
    .poweredBy {
        font-size: 0.4rem;
    }
}

@media only screen and (max-width: 320px) {
    .poweredBy {
        font-size: 0.3rem;
    }
}