.services.mainContainer {
    height: min-content;
}

.videoContainer {
    display: flex;
    width: 50%;
    padding-left: 3rem;
    align-items: center;
}

.scVideo {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    aspect-ratio: 2 / 1;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.45);
}

.servicesContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 0rem 5% 1rem 1rem;
    align-content: center;
    text-align: justify;
}

.servicesListContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.servicesList {
    padding: 1.5rem;
}

.servicesList li {
    padding-left: 10%;
    list-style-type: none;
    background-image: url('/Assets/Logos/SuperCardIcon.png');
    background-position: 0 0;
    background-size: 2rem;
    background-repeat: no-repeat;
}

.footer {
    min-height: 20%;
    text-align: -webkit-center;
}

.poweredBy {
    display: flex;
    width: 50%;
    align-items: center;
    font-weight: 800;
    font-size: 1.6rem;
    background-color: aliceblue;
    padding: 0.5% 0.5% 0.5% 1%;
    border-radius: 55px;
    opacity: 80%;
    justify-content: center;
    margin: 2rem 0;
}

.poweredBy p {
    padding: 0 1rem;
}

.scLogoServices {
    display: flex;
    width: 35%;
}

.sabissLogo {
    display: flex;
    width: 25%;
}

.scLogoServicesImg {
    display: flex;
    width: 100%;
}

.sabissLogoImg {
    display: flex;
    width: 100%;
}

@media only screen and (min-width: 1920px) {
    .servicesContainer {
        font-size: 1.7rem;
        line-height: 2.5rem;
        padding: 0rem 8rem 1rem 2rem;
    }
}

@media only screen and (max-width:1366px) {
    .servicesContainer {
        font-size: 1rem;
    }
    .servicesList li {
        background-size: 1.5rem;
    }
    .poweredBy {
        font-size: 1.1rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .scLogoServices {
        width: 30%;
    }
    .sabissLogo {
        width: 20%
    }
    .footer {
        min-height: 15%;
    }
}

@media only screen and (max-width: 1335px) {
    .videoContainer {
        width: 80%;
        padding-left: 2rem;
        margin-bottom: 5rem;
    }
    .servicesContainer {
        font-size: 1rem;
        width: 70%;
        padding-right: 4rem;
        margin: 0rem;
        line-height: 1.8rem;
    }
    .servicesList li {
        background-size: 1.5rem;
    }
    .poweredBy {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1000px) {
    .videoContainer {
        padding-left: 1rem;
    }
    .servicesContainer {
        font-size: 1rem;
        line-height: 2rem;
    }
    .footer {
        padding: 2rem;
    }
}

@media only screen and (max-width: 880px) {
    .services.mainContainer {
        flex-direction: column-reverse;
    }
    .videoContainer {
        margin-top: 0rem;
        width: 90%;
        padding: 0rem 1rem;
        align-self: center;
    }
    .servicesContainer {
        width: 100%;
        font-size: 1.5rem;
        padding: 2rem;
        margin: 0rem;
        align-items: center;
        line-height: 2.2rem;
    }
    .poweredBy {
        width: 80%;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 735px) {
    .servicesContainer {
        padding: 3rem;
    }
    .poweredBy {
        font-size: 1.5rem;
    }
    .poweredBy {
        width: 80%;
        font-size: 1.2rem;
    }
    .videoContainer {
        margin: 0;
    }
}

@media only screen and (max-width: 620px) {
    .poweredBy {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 550px) {
    .servicesContainer {
        font-size: 1.2rem;
    }
    .poweredBy {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 450px) {
    .servicesContainer {
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .servicesList {
        padding: 1rem;
    }
    .servicesList li {
        background-size: 1rem;
    }
    .poweredBy {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 380px) {
    .poweredBy {
        font-size: 0.4rem;
    }
}

@media only screen and (max-width: 320px) {
    .poweredBy {
        font-size: 0.3rem;
    }
}