        .descriptionContainer {
            display: flex;
            flex-direction: column;
            width: 57%;
            padding-left: 7%;
            line-height: 2rem;
            font-size: 1.3rem;
            align-self: center;
            text-align: justify;
            margin-top: 1rem;
        }
        
        #cardHeading {
            display: flex;
            flex-direction: row;
        }
        
        #cardHeading p {
            display: flex;
            font-size: 3rem;
            font-family: 'Bauhaus';
            justify-content: center;
        }
        
        .markRed {
            color: #cf000e;
        }
        
        .carouselNext {
            width: 2.8rem;
            height: 2.8rem;
            border-radius: 50%;
            margin-left: 0.75rem;
            margin-top: 0.1rem;
            box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.55);
        }
        
        .carouselNext:active {
            content: url("/Assets/Images/ArrowClicked.png");
        }
        
        .cardDescription .footer.terms {
            place-self: center;
        }
        
        @media only screen and (min-width: 1920px) {
            .cardDescription {
                padding-left: 7%;
                line-height: 2.5rem;
                font-size: 2rem;
            }
            .carouselNext {
                width: 2.8rem;
                height: 2.8rem;
                border-radius: 50%;
                margin-left: 0.75rem;
                margin-top: 0.1rem;
                box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
            }
        }
        
        @media only screen and (max-width: 880px) {
            #cardHeading p {
                font-size: 2.75rem;
                margin-top: 1rem;
            }
            .descriptionContainer {
                width: 100%;
                padding: 0rem 4rem;
            }
        }
        
        @media only screen and (max-width: 450px) {
            .descriptionContainer {
                padding: 0rem 2rem;
                font-size: 1rem;
            }
        }