.searchError {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #d3d3d3;
    color: #cf000e;
    width: 50%;
    align-self: center;
    z-index: 9989;
    padding: 1rem;
    border: #cf000e solid 3px;
    border-radius: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.8rem;
    font-weight: 650;
}

.dialogLink {
    all: unset;
    text-decoration: underline;
    color: black;
}

.markHeading {
    all: unset;
    font-size: 3rem;
    font-family: 'bauhaus';
    font-weight: 900;
    padding: 0.5rem 0px 0.5rem 4rem;
    text-align: center;
    text-decoration: underline solid #cf000e 3px;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.closeBtnImg {
    display: flex;
    width: 2rem;
    margin: 0.5rem;
}

.closeButton:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.closeButton:active {
    transform: translate(.5px, .5px);
    -webkit-transform: translate(.5px, .5px);
    -moz-transform: translate(.5px, .5px);
    -ms-transform: translate(.5px, .5px);
    -o-transform: translate(.5px, .5px);
}

.partnersTextContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 6%;
    text-align: justify;
}

.partnersTextContainer p {
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 0 1.5rem;
}

.searchInput {
    width: 100%;
    text-align: -webkit-center;
    margin-top: auto;
    padding: 1rem 0;
}

.lblSearchStore {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Bauhaus';
}

.inputSearchStore {
    font-size: 1.75rem;
    font-weight: 500;
    font-family: 'Gothic-A1', sans-serif;
    width: 60%;
    padding: 0.2rem;
    margin: 1rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.btnFindStore {
    display: flex;
    width: min-content;
    text-align: center;
    justify-content: center;
    padding: 0.8rem 1.2rem;
    margin-top: 0.5rem;
    color: #cf000e;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    background-color: white;
    border-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.51);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.logoContainer {
    display: flex;
    width: 100%;
    padding-top: 1rem;
    margin-top: 1.5rem;
    justify-content: center;
}

.logoContainer img {
    display: flex;
    width: 100%;
    padding: 0rem 1rem;
    margin: auto;
}

.sparLogo {
    display: flex;
    width: 30%;
    aspect-ratio: 5.66 / 1;
}

.topsLogo {
    display: flex;
    width: 15%;
    aspect-ratio: 2 / 1;
}

.bmsLogo {
    display: flex;
    width: 15%;
    aspect-ratio: 2 / 1;
}

@media only screen and (min-width: 1920px) {
    .partnersTextContainer {
        padding: 0rem 8rem 1rem 2rem;
    }
    .partnersTextContainer p {
        font-size: 2rem;
    }
    .logoContainer {
        padding-top: 1.2rem;
    }
    .inputSearchStore {
        font-size: 2rem;
        margin-top: auto;
    }
    .lblSearchStore {
        font-size: 3rem;
    }
    .footerParters {
        padding: 2rem;
    }
}

@media only screen and (max-width: 1500px) {
    .partnersTextContainer {
        padding: 0rem 7rem 0rem 1rem;
    }
    .partnersTextContainer p {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .lblSearchStore {
        font-size: 2rem;
    }
    .inputSearchStore {
        font-size: 1.5rem;
    }
    .logoContainer {
        padding-top: 1rem;
    }
    .btnFindStore {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1335px) {
    .partnersTextContainer {
        padding: 1rem 5rem 0rem 2rem;
    }
    .partnersTextContainer p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .btnFindStore {
        font-size: 1rem;
        padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    }
    .lblSearchStore {
        font-size: 2rem;
    }
    .inputSearchStore {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1050px) {
    .partnersTextContainer p {
        font-size: 1.3rem;
        line-height: 1.8rem;
        padding: 0 0rem;
    }
    .lblSearchStore {
        font-size: 1.8rem;
    }
    .inputSearchStore {
        width: 80%;
        font-size: 1.3rem;
    }
    .sparLogo {
        width: 30%;
    }
    .topsLogo {
        width: 15%;
    }
    .bmsLogo {
        width: 15%;
    }
}

@media only screen and (max-width: 880px) {
    .partnersTextContainer {
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        padding: 1rem 4rem 0rem 4rem;
    }
    .partnersTextContainer p {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    .lblSearchStore {
        font-size: 2.2rem;
    }
    .inputSearchStore {
        width: 80%;
        font-size: 1.5rem;
    }
    .btnFindStore {
        font-size: 1.25rem;
    }
    .footerParters {
        padding-top: 0;
    }
    .logoContainer {
        width: 100%;
        padding-top: 0rem;
        margin-top: 0rem;
    }
    .sparLogo {
        width: 40%;
    }
    .topsLogo {
        width: 20%;
    }
    .bmsLogo {
        width: 20%;
    }
    .searchError {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .logoContainer {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .logoContainer img {
        padding: 1rem;
    }
    .inputSearchStore {
        width: 90%;
        font-size: 1rem;
    }
    .sparLogo {
        width: 70%;
    }
    .topsLogo {
        width: 45%;
    }
    .bmsLogo {
        width: 45%;
    }
}

@media only screen and (max-width: 450px) {
    .partnersTextContainer {
        width: 100%;
        justify-content: center;
        padding: 1rem 2rem 0rem;
    }
    .partnersTextContainer p {
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .lblSearchStore {
        font-size: 1.6rem;
    }
    .btnFindStore {
        font-size: 1rem;
    }
}