.register.mainContainer {
    height: min-content;
}

.registerTextContainer {
    display: flex;
    flex-direction: column;
    width: 43%;
    align-items: center;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-left: 7%;
}

.heading {
    font-size: 2rem;
    padding: 0.5rem 3rem;
}

.registerList {
    padding: 1rem 3rem;
}

.registerList li {
    padding-top: 1%;
    padding-left: 5%;
}

.kioskImageContainer {
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
}

.kioskImage {
    display: flex;
    width: 30rem;
    height: 30rem;
    padding: 5%;
}

@media only screen and (min-width: 1920px) {
    .registerTextContainer {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .heading {
        font-size: 2.5rem;
        padding: 1rem 3rem;
    }
    .kioskImage {
        width: 45rem;
        height: 47rem;
        padding: 10%;
    }
}

@media only screen and (max-width: 1500px) {
    .kioskImage {
        width: 558px;
        height: 584.29px;
    }
    .registerTextContainer {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
}

@media only screen and (max-width: 1335px) {
    .registerTextContainer {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    .kioskImage {
        width: 522.99px;
        height: 544.3px;
    }
    .heading {
        font-size: 2rem;
        padding: 2rem 3rem;
    }
}

@media only screen and (max-width: 900px) {
    .registerTextContainer {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    .kioskImage {
        width: 500px;
        height: 528px;
    }
}

@media only screen and (max-width: 880px) {
    .registerTextContainer {
        width: 90%;
        margin: 1rem;
        margin-top: 0;
        font-size: 1.5rem;
    }
    .kioskImageContainer {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .kioskImage {
        margin: 1rem;
        width: 720px;
        height: 752px;
        padding: 8%;
    }
}

@media only screen and (max-width: 735px) {
    .kioskImage {
        width: 720px;
        height: 752px;
    }
}

@media only screen and (max-width: 600px) {
    .kioskImage {
        width: 558px;
        height: 584.29px;
    }
    .registerTextContainer {
        line-height: 2.8rem;
    }
}

@media only screen and (max-width: 450px) {
    .kioskImage {
        width: 420px;
        height: 440px;
    }
    .registerTextContainer {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media only screen and (max-width: 376px) {
    .kioskImage {
        width: 360px;
        height: 380px;
    }
    .heading {
        font-size: 1.25rem;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 320px) {
    .kioskImage {
        width: 280px;
        height: 300px;
        padding: 5%;
    }
}