.snackbar {
    display: none;
    background-color: #D3D3D3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25rem;
    text-align: center;
    align-items: center;
    margin-left: -12.5rem;
    padding: 1rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 1.3rem;
    z-index: 9999;
}

.snackBarImage {
    margin-left: 1rem;
}

.snackbarAlert {
    margin: auto;
}

.contactInfoContainer {
    display: flex;
    width: 70%;
    text-align: center;
    justify-content: center;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    border-radius: 15px;
    width: 100%;
    font-size: 1.3rem;
    line-height: 0.8rem;
    padding: 1rem;
}

.contactHeading {
    display: flex;
    align-self: center;
    font-family: 'Bauhaus';
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.contactFormContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.formHeading {
    display: flex;
    align-self: center;
    font-family: 'Bauhaus';
    font-weight: 800;
    font-size: 2rem;
    padding: 0.5rem 0;
}

.form {
    all: unset;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-color: black;
    border-width: 2px;
    border-radius: 30px;
    border-style: solid;
    background-color: rgb(214, 200, 200);
    opacity: 70%;
    gap: 0.2rem;
}

.formControl {
    all: unset;
    display: flex;
    width: 90%;
    height: min-content;
    margin: 0 auto;
    padding: 0.2rem 1.25rem;
    font-size: 1.3rem;
    color: gray;
    border-color: black;
    border-width: 2px;
    border-radius: 30px;
    border-style: solid;
    background-color: whitesmoke;
    white-space: normal;
    text-overflow: clip;
    overflow-wrap: break-word;
    overflow: auto;
}

.formControl.name {
    margin-top: 2rem;
}

.formControl.message {
    padding-bottom: 5%;
    margin-bottom: 0;
    border-radius: 20px;
}

.formGroup {
    transition: all .3s;
    height: min-content;
}

.formLabel {
    width: min-content;
    height: min-content;
    font-size: 1.5rem;
    margin-left: 3rem;
    color: #aaa;
    display: block;
    transform: translateY(-110%);
    -webkit-transform: translateY(-110%);
    transform-origin: 0 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -webkit-transition: all .3s;
}

.formLabel.message {
    transform: translateY(-290%);
    -webkit-transform: translateY(-290%);
    -moz-transform: translateY(-290%);
    -ms-transform: translateY(-290%);
    -o-transform: translateY(-290%);
}

.formLabel.submit {
    display: none;
}

.formControl::placeholder {
    color: transparent;
}

.formControl:focus {
    border-color: #cf000e;
}

.formControl:focus+.formLabel,
.formControl:not(:placeholder-shown)+.formLabel {
    transform: translateY(-210%) scale(.7);
    -webkit-transform: translateY(-210%) scale(.7);
    color: black;
    -moz-transform: translateY(-210%) scale(.7);
    -ms-transform: translateY(-210%) scale(.7);
    -o-transform: translateY(-210%) scale(.7);
}

.formControl.message:focus+.formLabel.message,
.formControl.message:not(:placeholder-shown)+.formLabel.message {
    transform: translateY(-390%) scale(.7);
    -webkit-transform: translateY(-390%) scale(.7);
    -moz-transform: translateY(-390%) scale(.7);
    -ms-transform: translateY(-390%) scale(.7);
    -o-transform: translateY(-390%) scale(.7);
}

.formGroup:focus-within {
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
}

.submitBtn {
    display: flex;
    width: 30%;
    justify-content: center;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0.5rem 0.1rem;
    color: white;
    font-size: 1.25rem;
    background-color: #cf000e;
    border-color: #cf000e;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.51);
}

@media only screen and (max-width: 1440px) {
    .form {
        gap: 0.5rem;
    }
    .formControl.message {
        padding-bottom: 20%;
    }
    .formLabel {
        margin-left: 2.5rem;
        transform: translateY(-1.9rem);
        -webkit-transform: translateY(-1.9rem);
        -moz-transform: translateY(-1.9rem);
        -ms-transform: translateY(-1.9rem);
        -o-transform: translateY(-1.9rem);
    }
    .formControl:focus+.formLabel,
    .formControl:not(:placeholder-shown)+.formLabel {
        transform: translateY(-200%) scale(.7);
        -webkit-transform: translateY(-200%) scale(.7);
        color: black;
        -moz-transform: translateY(-200%) scale(.7);
        -ms-transform: translateY(-200%) scale(.7);
        -o-transform: translateY(-200%) scale(.7);
    }
    .formLabel.message {
        transform: translateY(-800%);
        -webkit-transform: translateY(-800%);
        -moz-transform: translateY(-800%);
        -ms-transform: translateY(-800%);
        -o-transform: translateY(-800%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-950%) scale(.7);
        -webkit-transform: translateY(-950%) scale(.7);
        -moz-transform: translateY(-950%) scale(.7);
        -ms-transform: translateY(-950%) scale(.7);
        -o-transform: translateY(-950%) scale(.7);
    }
}

@media only screen and (max-width: 1200px) {
    .contactInfo {
        font-size: 2rem;
        line-height: 2.2rem;
        padding: 1rem;
        margin: 2% 5%;
    }
    .contactHeading {
        font-size: 2.2rem;
    }
    .formHeading {
        font-size: 2.2rem;
    }
    .formLabel {
        margin-left: 2rem;
    }
    .formControl:focus+.formLabel,
    .formControl:not(:placeholder-shown)+.formLabel {
        transform: translateY(-200%) scale(.7);
        -webkit-transform: translateY(-200%) scale(.7);
        color: black;
        -moz-transform: translateY(-200%) scale(.7);
        -ms-transform: translateY(-200%) scale(.7);
        -o-transform: translateY(-200%) scale(.7);
    }
    .formLabel.message {
        transform: translateY(-1000%);
        -webkit-transform: translateY(-1000%);
        -moz-transform: translateY(-1000%);
        -ms-transform: translateY(-1000%);
        -o-transform: translateY(-1000%);
    }
    .formControl.message {
        padding-bottom: 30%;
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-1100%) scale(.7);
        -webkit-transform: translateY(-1100%) scale(.7);
        -moz-transform: translateY(-1100%) scale(.7);
        -ms-transform: translateY(-1100%) scale(.7);
        -o-transform: translateY(-1100%) scale(.7);
    }
}

@media only screen and (max-width: 1024px) {
    .contactInfo {
        font-size: 1.5rem;
        line-height: 1.2rem;
        padding: 1rem;
    }
    .contactInfoContainer {
        width: 70%;
    }
    .contactHeading {
        font-size: 1.8rem;
    }
    .formHeading {
        font-size: 2rem;
    }
    .formControl {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    .formLabel {
        margin-left: 2rem;
        transform: translateY(-1.9rem);
        -webkit-transform: translateY(-1.9rem);
        -moz-transform: translateY(-1.9rem);
        -ms-transform: translateY(-1.9rem);
        -o-transform: translateY(-1.9rem);
    }
    .formControl:focus+.formLabel,
    .formControl:not(:placeholder-shown)+.formLabel {
        transform: translateY(-200%) scale(.7);
        -webkit-transform: translateY(-200%) scale(.7);
        color: black;
        -moz-transform: translateY(-200%) scale(.7);
        -ms-transform: translateY(-200%) scale(.7);
        -o-transform: translateY(-200%) scale(.7);
    }
    .formControl.message {
        padding-bottom: 30%;
    }
    .formLabel.message {
        transform: translateY(-850%);
        -webkit-transform: translateY(-850%);
        -moz-transform: translateY(-850%);
        -ms-transform: translateY(-850%);
        -o-transform: translateY(-850%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-975%) scale(.7);
        -webkit-transform: translateY(-975%) scale(.7);
        -moz-transform: translateY(-975%) scale(.7);
        -ms-transform: translateY(-975%) scale(.7);
        -o-transform: translateY(-975%) scale(.7);
    }
}

@media only screen and (max-width: 1000px) {
    .contactInfoContainer {
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 1rem;
    }
    .formHeading {
        font-size: 3rem;
    }
    .contactHeading {
        font-size: 3rem;
    }
    .contactInfo {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 5%;
        padding: 1rem;
    }
    .submitBtn {
        font-size: 2rem;
    }
    .formLabel {
        margin-left: 2rem;
    }
    .formControl.message {
        padding-bottom: 30%;
    }
    .formLabel.message {
        transform: translateY(-850%);
        -webkit-transform: translateY(-850%);
        -moz-transform: translateY(-850%);
        -ms-transform: translateY(-850%);
        -o-transform: translateY(-850%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-950%) scale(.7);
        -webkit-transform: translateY(-950%) scale(.7);
        -moz-transform: translateY(-950%) scale(.7);
        -ms-transform: translateY(-950%) scale(.7);
        -o-transform: translateY(-950%) scale(.7);
    }
}

@media only screen and (max-width: 950px) {
    .formControl {
        width: 85%;
    }
    .formControl:focus+.formLabel,
    .formControl:not(:placeholder-shown)+.formLabel {
        transform: translateY(-200%) scale(.7);
        -webkit-transform: translateY(-200%) scale(.7);
        color: black;
        -moz-transform: translateY(-200%) scale(.7);
        -ms-transform: translateY(-200%) scale(.7);
        -o-transform: translateY(-200%) scale(.7);
    }
    .formControl.message {
        padding-bottom: 30%;
    }
    .formLabel {
        margin-left: 3rem;
    }
    .formLabel.message {
        transform: translateY(-800%);
        -webkit-transform: translateY(-800%);
        -moz-transform: translateY(-800%);
        -ms-transform: translateY(-800%);
        -o-transform: translateY(-800%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-925%) scale(.7);
        -webkit-transform: translateY(-925%) scale(.7);
        -moz-transform: translateY(-925%) scale(.7);
        -ms-transform: translateY(-925%) scale(.7);
        -o-transform: translateY(-925%) scale(.7);
    }
}

@media only screen and (max-width: 880px) {
    .contactInfoContainer {
        width: 80%;
    }
    .formLabel {
        font-size: 1.5rem;
        margin-left: 2.8rem;
        transform: translateY(-125%);
        -webkit-transform: translateY(-125%);
        -moz-transform: translateY(-125%);
        -ms-transform: translateY(-125%);
        -o-transform: translateY(-125%);
    }
    .formControl {
        width: 85%;
        font-size: 1.5rem;
    }
    .formControl.message {
        padding-bottom: 30%;
    }
    .formControl:focus+.formLabel,
    .formControl:not(:placeholder-shown)+.formLabel {
        transform: translateY(-250%) scale(.7);
        -webkit-transform: translateY(-250%) scale(.7);
        color: black;
        -moz-transform: translateY(-250%) scale(.7);
        -ms-transform: translateY(-250%) scale(.7);
        -o-transform: translateY(-250%) scale(.7);
    }
    .formLabel.message {
        transform: translateY(-750%);
        -webkit-transform: translateY(-750%);
        -moz-transform: translateY(-750%);
        -ms-transform: translateY(-750%);
        -o-transform: translateY(-750%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-900%) scale(.7);
        -webkit-transform: translateY(-900%) scale(.7);
        -moz-transform: translateY(-900%) scale(.7);
        -ms-transform: translateY(-900%) scale(.7);
        -o-transform: translateY(-900%) scale(.7);
    }
}

@media only screen and (max-width: 820px) {
    .contactInfoContainer {
        width: 80%;
    }
    .formLabel {
        margin-left: 2.5rem;
    }
    .formControl {
        width: 85%;
    }
    .formControl.message {
        padding-bottom: 30%;
    }
    .formControl:focus+.formLabel,
    .formControl:not(:placeholder-shown)+.formLabel {
        transform: translateY(-200%) scale(.7);
        -webkit-transform: translateY(-200%) scale(.7);
        color: black;
        -moz-transform: translateY(-200%) scale(.7);
        -ms-transform: translateY(-200%) scale(.7);
        -o-transform: translateY(-200%) scale(.7);
    }
    .formLabel.message {
        transform: translateY(-750%);
        -webkit-transform: translateY(-750%);
        -moz-transform: translateY(-750%);
        -ms-transform: translateY(-750%);
        -o-transform: translateY(-750%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-850%) scale(.7);
        -webkit-transform: translateY(-850%) scale(.7);
        -moz-transform: translateY(-850%) scale(.7);
        -ms-transform: translateY(-850%) scale(.7);
        -o-transform: translateY(-850%) scale(.7);
    }
}

@media only screen and (max-width: 768px) {
    .contactInfoContainer {
        width: 90%;
    }
    .formHeading {
        font-size: 2rem;
    }
    .contactHeading {
        font-size: 2rem;
    }
    .contactInfo {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 3%;
        padding: 1rem;
    }
    .contactInfoContainer {
        width: 80%;
    }
    .formLabel {
        margin-left: 2.5rem;
    }
    .formControl {
        width: 85%;
    }
    .formControl.message {
        padding-bottom: 30%;
    }
    .formControl:focus+.formLabel,
    .formControl:not(:placeholder-shown)+.formLabel {
        transform: translateY(-250%) scale(.7);
        -webkit-transform: translateY(-250%) scale(.7);
        color: black;
        -moz-transform: translateY(-250%) scale(.7);
        -ms-transform: translateY(-250%) scale(.7);
        -o-transform: translateY(-250%) scale(.7);
    }
    .submitBtn {
        font-size: 1rem;
    }
    .formLabel.message {
        transform: translateY(-700%);
        -webkit-transform: translateY(-700%);
        -moz-transform: translateY(-700%);
        -ms-transform: translateY(-700%);
        -o-transform: translateY(-700%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-800%) scale(.7);
        -webkit-transform: translateY(-800%) scale(.7);
        -moz-transform: translateY(-800%) scale(.7);
        -ms-transform: translateY(-800%) scale(.7);
        -o-transform: translateY(-800%) scale(.7);
    }
}

@media only screen and (max-width: 670px) {
    .contactInfoContainer {
        width: 90%;
    }
    .formHeading {
        font-size: 2.5rem;
    }
    .contactHeading {
        font-size: 2.5rem;
    }
    .contactInfo {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 3%;
        padding: 1rem;
    }
    .formLabel {
        margin-left: 3rem;
    }
    .formControl {
        width: 80%;
    }
    .formControl.message {
        padding-bottom: 30%;
    }
    .formControl:focus+.formLabel,
    .formControl:not(:placeholder-shown)+.formLabel {
        transform: translateY(-200%) scale(.7);
        -webkit-transform: translateY(-200%) scale(.7);
        color: black;
        -moz-transform: translateY(-200%) scale(.7);
        -ms-transform: translateY(-200%) scale(.7);
        -o-transform: translateY(-200%) scale(.7);
    }
    .formLabel.message {
        transform: translateY(-600%);
        -webkit-transform: translateY(-600%);
        -moz-transform: translateY(-600%);
        -ms-transform: translateY(-600%);
        -o-transform: translateY(-600%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-725%) scale(.7);
        -webkit-transform: translateY(-725%) scale(.7);
        -moz-transform: translateY(-725%) scale(.7);
        -ms-transform: translateY(-725%) scale(.7);
        -o-transform: translateY(-725%) scale(.7);
    }
}

@media only screen and (max-width: 570px) {
    .formHeading {
        font-size: 2.2rem;
    }
    .contactInfo {
        font-size: 1rem;
        line-height: 1rem;
        margin: 5%;
        padding: 1rem;
    }
    .contactInfoContainer {
        width: 85%;
    }
    .formLabel {
        margin-left: 2rem;
    }
    .formControl {
        width: 80%;
    }
    .formControl.message {
        padding-bottom: 30%;
    }
    .formControl:focus+.formLabel,
    .formControl:not(:placeholder-shown)+.formLabel {
        transform: translateY(-250%) scale(.7);
        -webkit-transform: translateY(-250%) scale(.7);
        color: black;
        -moz-transform: translateY(-250%) scale(.7);
        -ms-transform: translateY(-250%) scale(.7);
        -o-transform: translateY(-250%) scale(.7);
    }
    .formLabel.message {
        transform: translateY(-550%);
        -webkit-transform: translateY(-550%);
        -moz-transform: translateY(-550%);
        -ms-transform: translateY(-550%);
        -o-transform: translateY(-550%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-650%) scale(.7);
        -webkit-transform: translateY(-650%) scale(.7);
        -moz-transform: translateY(-650%) scale(.7);
        -ms-transform: translateY(-650%) scale(.7);
        -o-transform: translateY(-650%) scale(.7);
    }
}

@media only screen and (max-width: 470px) {
    .formLabel.message {
        transform: translateY(-475%);
        -webkit-transform: translateY(-475%);
        -moz-transform: translateY(-475%);
        -ms-transform: translateY(-475%);
        -o-transform: translateY(-475%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-575%) scale(.7);
        -webkit-transform: translateY(-575%) scale(.7);
        -moz-transform: translateY(-575%) scale(.7);
        -ms-transform: translateY(-575%) scale(.7);
        -o-transform: translateY(-575%) scale(.7);
    }
}

@media only screen and (max-width: 426px) {
    .formHeading {
        font-size: 1.5rem;
    }
    .contactHeading {
        font-size: 1.5rem;
    }
    .contactInfo {
        font-size: 1rem;
        line-height: 1.2rem;
        margin: 5%;
        padding: 1rem;
    }
    .contactInfoContainer {
        width: 90%;
    }
    .formLabel {
        margin-left: 2rem;
    }
    .formControl {
        width: 82%;
    }
    .formLabel {
        margin-left: 1.5rem;
    }
    .formLabel.message {
        transform: translateY(-450%);
        -webkit-transform: translateY(-450%);
        -moz-transform: translateY(-450%);
        -ms-transform: translateY(-450%);
        -o-transform: translateY(-450%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-550%) scale(.7);
        -webkit-transform: translateY(-550%) scale(.7);
        -moz-transform: translateY(-550%) scale(.7);
        -ms-transform: translateY(-550%) scale(.7);
        -o-transform: translateY(-550%) scale(.7);
    }
}

@media only screen and (max-width: 376px) {
    .formLabel.message {
        transform: translateY(-400%);
        -webkit-transform: translateY(-400%);
        -moz-transform: translateY(-400%);
        -ms-transform: translateY(-400%);
        -o-transform: translateY(-400%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-525%) scale(.7);
        -webkit-transform: translateY(-525%) scale(.7);
        -moz-transform: translateY(-525%) scale(.7);
        -ms-transform: translateY(-525%) scale(.7);
        -o-transform: translateY(-525%) scale(.7);
    }
    .contactHeading {
        font-size: 1.2rem;
    }
    .submitBtn {
        font-size: 1rem;
    }
    .formControl {
        width: 80%;
    }
    .contactInfo {
        width: 95%;
    }
    .contactInfoContainer {
        width: 100%;
    }
}

@media only screen and (max-width: 345px) {
    .formLabel.message {
        transform: translateY(-350%);
        -webkit-transform: translateY(-350%);
        -moz-transform: translateY(-350%);
        -ms-transform: translateY(-350%);
        -o-transform: translateY(-350%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-525%) scale(.7);
        -webkit-transform: translateY(-525%) scale(.7);
        -moz-transform: translateY(-525%) scale(.7);
        -ms-transform: translateY(-525%) scale(.7);
        -o-transform: translateY(-525%) scale(.7);
    }
    .formLabel {
        margin-left: 1.3rem;
    }
    .formControl {
        width: 75%;
    }
    .contactInfoContainer {
        width: 95%;
    }
}

@media only screen and (max-width: 320px) {
    .contactInfoContainer {
        width: 80%;
    }
    .contactFormContainer {
        width: 90%;
    }
    .formLabel {
        margin-left: 1.5rem;
        font-size: 1.5rem;
        transform: translateY(-110%);
        -webkit-transform: translateY(-110%);
        -moz-transform: translateY(-110%);
        -ms-transform: translateY(-110%);
        -o-transform: translateY(-110%);
    }
    .formControl {
        width: 80%;
        font-size: 1.5rem;
    }
    .formControl.message {
        padding-bottom: 30%;
    }
    .formControl:focus+.formLabel,
    .formControl:not(:placeholder-shown)+.formLabel {
        transform: translateY(-210%) scale(.7);
        -webkit-transform: translateY(-210%) scale(.7);
        color: black;
        -moz-transform: translateY(-210%) scale(.7);
        -ms-transform: translateY(-210%) scale(.7);
        -o-transform: translateY(-210%) scale(.7);
    }
    .formControl {
        font-size: 0.8rem;
    }
    .formLabel.message {
        transform: translateY(-380%);
        -webkit-transform: translateY(-380%);
        -moz-transform: translateY(-380%);
        -ms-transform: translateY(-380%);
        -o-transform: translateY(-380%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-520%) scale(.7);
        -webkit-transform: translateY(-500%) scale(.7);
        -moz-transform: translateY(-520%) scale(.7);
        -ms-transform: translateY(-520%) scale(.7);
        -o-transform: translateY(-520%) scale(.7);
    }
    .contactHeading {
        font-size: 1rem;
    }
    .submitBtn {
        font-size: 1rem;
    }
    .formHeading {
        font-size: 1.5rem;
    }
    .contactInfo {
        font-size: 0.8rem;
        line-height: 1rem;
    }
}

@media only screen and (min-width: 1920px) {
    .formLabel {
        margin-left: 3.5rem;
    }
    .formControl:focus+.formLabel,
    .formControl:not(:placeholder-shown)+.formLabel {
        transform: translateY(-200%) scale(.7);
        -webkit-transform: translateY(-200%) scale(.7);
        color: black;
        -moz-transform: translateY(-200%) scale(.7);
        -ms-transform: translateY(-200%) scale(.7);
        -o-transform: translateY(-200%) scale(.7);
    }
    .formLabel.message {
        transform: translateY(-300%);
        -webkit-transform: translateY(-300%);
        -moz-transform: translateY(-300%);
        -ms-transform: translateY(-300%);
        -o-transform: translateY(-300%);
    }
    .formControl.message {
        padding-bottom: 5%;
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-450%) scale(.7);
        -webkit-transform: translateY(-450%) scale(.7);
        -moz-transform: translateY(-450%) scale(.7);
        -ms-transform: translateY(-450%) scale(.7);
        -o-transform: translateY(-450%) scale(.7);
    }
}

@media only screen and (min-width: 2100px) {
    .formLabel {
        margin-left: 4rem;
    }
    .formControl:focus+.formLabel,
    .formControl:not(:placeholder-shown)+.formLabel {
        transform: translateY(-200%) scale(.7);
        -webkit-transform: translateY(-200%) scale(.7);
        color: black;
        -moz-transform: translateY(-200%) scale(.7);
        -ms-transform: translateY(-200%) scale(.7);
        -o-transform: translateY(-200%) scale(.7);
    }
    .formLabel.message {
        transform: translateY(-350%);
        -webkit-transform: translateY(-350%);
        -moz-transform: translateY(-350%);
        -ms-transform: translateY(-350%);
        -o-transform: translateY(-350%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-450%) scale(.7);
        -webkit-transform: translateY(-450%) scale(.7);
        -moz-transform: translateY(-450%) scale(.7);
        -ms-transform: translateY(-450%) scale(.7);
        -o-transform: translateY(-450%) scale(.7);
    }
}

@media only screen and (min-width: 2250px) {
    .formLabel {
        margin-left: 9rem;
    }
    .formLabel.message {
        transform: translateY(-450%);
        -webkit-transform: translateY(-450%);
        -moz-transform: translateY(-450%);
        -ms-transform: translateY(-450%);
        -o-transform: translateY(-450%);
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-550%) scale(.7);
        -webkit-transform: translateY(-550%) scale(.7);
        -moz-transform: translateY(-550%) scale(.7);
        -ms-transform: translateY(-550%) scale(.7);
        -o-transform: translateY(-550%) scale(.7);
    }
}

@media only screen and (min-width: 2560px) {
    .contactFormContainer {
        width: 80%;
    }
    .contactInfo {
        width: 80%;
        font-size: 3.5rem;
        line-height: 3.7rem;
        padding: 1rem;
        margin: 2% 5%;
    }
    .contactHeading {
        font-size: 3.5rem;
    }
    .formHeading {
        font-size: 3.5rem;
    }
    .formLabel {
        margin-left: 7rem;
        font-size: 2rem;
    }
    .formControl {
        font-size: 2rem;
    }
    .formLabel {
        transform: translateY(-125%);
        -webkit-transform: translateY(-125%);
        -moz-transform: translateY(-125%);
        -ms-transform: translateY(-125%);
        -o-transform: translateY(-125%);
    }
    .formControl:focus+.formLabel,
    .formControl:not(:placeholder-shown)+.formLabel {
        transform: translateY(-200%) scale(.7);
        -webkit-transform: translateY(-200%) scale(.7);
        color: black;
        -moz-transform: translateY(-200%) scale(.7);
        -ms-transform: translateY(-200%) scale(.7);
        -o-transform: translateY(-200%) scale(.7);
    }
    .formLabel.message {
        transform: translateY(-625%);
        -webkit-transform: translateY(-625%);
        -moz-transform: translateY(-625%);
        -ms-transform: translateY(-625%);
        -o-transform: translateY(-625%);
    }
    .formControl.message {
        padding-bottom: 10%;
    }
    .formControl.message:focus+.formLabel.message,
    .formControl.message:not(:placeholder-shown)+.formLabel.message {
        transform: translateY(-750%) scale(.7);
        -webkit-transform: translateY(-750%) scale(.7);
        -moz-transform: translateY(-750%) scale(.7);
        -ms-transform: translateY(-750%) scale(.7);
        -o-transform: translateY(-750%) scale(.7);
    }
}