.textContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
}

.termsText {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-height: 30rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    opacity: 70%;
    margin: auto;
    padding: 1.6rem;
    padding-top: 1rem;
    white-space: normal;
    text-overflow: clip;
    overflow-wrap: break-word;
    overflow: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.termsText h2 {
    padding: 1rem;
}

.termsText ul {
    padding-left: 2rem;
    line-height: 2.1rem;
}

.termsText li {
    padding-left: 2rem;
}

.termsHeader {
    text-align: center;
}

.conditionTypeContainer {
    align-self: center;
}

.conditionType {
    all: unset;
    display: flex;
    padding: 1rem;
    align-self: center;
    text-align: center;
    list-style-type: none;
    gap: 3rem;
    text-decoration: underline;
    cursor: pointer;
}

.shopperType,
.stokvelType,
.giftType {
    font-size: 1.5rem;
    color: black;
}

li.conditionTypeItem li a:active {
    color: #cf000e;
}

.footer.terms a {
    color: rgb(56, 56, 56);
}

.footer.terms {
    all: unset;
    font-size: 1.3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.footer.terms.register1 {
    display: flex;
    margin-top: auto;
}

.footer.terms.register2 {
    display: none;
}

@media only screen and (max-width: 1440px) {
    .termsText {
        max-height: 25rem;
    }
}

@media only screen and (max-width: 880px) {
    .footer.terms.register1 {
        display: none;
    }
    .footer.terms.register2 {
        display: flex;
    }
}

@media only screen and (max-width: 768px) {
    .shopperType,
    .stokvelType,
    .giftType {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 645px) {
    .shopperType,
    .stokvelType,
    .giftType {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 426px) {
    .termsHeader {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width:2560px) {
    .footer.terms {
        font-size: 1.7rem;
        margin-top: 2rem;
    }
}