.cardCarouselContainer {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.cardCarousel {
    display: flex;
    width: 50%;
    margin-top: 5%;
    border-radius: 30px;
    box-shadow: 21px 21px 19px -1px rgba(0, 0, 0, 0.79);
    left: 60rem;
    pointer-events: none;
    backface-visibility: hidden;
}

.animation {
    animation: rotation 3s infinite linear;
    -webkit-animation: rotation 3s infinite linear;
}

.carouselSelectContainer {
    display: flex;
    flex-direction: row;
    justify-items: right;
    margin: 1rem 16rem;
}

.carouselSelect {
    display: flex;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.8rem;
    margin: 0.5rem;
    background-color: #cf000e;
    border-color: #cf000e;
    box-shadow: 6px 8px 17px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.selected {
    background-color: black;
    border-color: black;
}

@keyframes rotation {
    0% {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
    }
    5% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
    }
}