    .pageHeading {
        font-size: 300%;
        font-family: 'bauhaus';
        font-weight: 800;
        padding: 0.5rem 0px 0.5rem 4rem;
        /* width: 100vw; */
        width: 50vw;
        text-align: center;
    }
    
    .pageHeading p {
        color: black;
    }
    
    mark {
        all: unset;
        color: #cf000e;
    }