    .pageHeading {
        font-size: 4rem;
        font-family: 'bauhaus';
        font-weight: 800;
        padding: 0.5rem 0px 0.5rem 4rem;
        width: 50vw;
        text-align: center;
    }
    
    .pageHeading p {
        color: black;
    }
    
    mark {
        all: unset;
        color: #cf000e;
    }
    
    @media only screen and (max-width: 1740px) {
        .pageHeading {
            margin-top: 5%;
        }
    }